extends layout

block bodyScripts

block content
  .row.page-header
    .col-sm-12.col-md-8
      h2= pageHeader.title
      
  .row
    .col-xs-12.col-sm-8

      .error= message

      p Title: #{title}
      
      p #{email} :::: Email Confirmation !!!!!

      p #{RELATIVE_TEMPLATE_PATH}