extends layout

include mixins/mixins

block bodyScripts
  <!--script(src='/javascripts/onbeforeunload.js')-->

block content
  .row.page-header
    .col-sm-12.col-md-8
      h2= pageHeader.header
      p #{csrfToken}
      
  .row
    .col-xs-12.col-sm-8

      h4 You need to reset your email or password to access your account.

      div(style='height:20px')


      form(role="form", id="resetpasswordFormID", action="/resetpassword", method="post")

        - if (success != undefined)
          .alert.alert-info(role="alert") #{success}

        - if (error != undefined)
          .alert.alert-danger(role="alert") #{error}

        .form-group
          div
            input(type="hidden" name="_csrf" value="#{csrfToken}")

        .form-group
          label.control-label(for="email") Email Address
          div
            input(class="form-control", id="email", name="email", placeholder="Email", maxlength="30", type="email", required, autofocus)

        .form-group
          div
            input.form-control(type="submit", value="Submit", class="btn btn-primary btn-block")
